<div class="d-flex justify-content-center flex-wrap mt-5 mb-5">
  <div class="d-flex justify-content-center" id="results">
    <% letters.each_char do |letter| %>
      <div class="letter-card"><%= letter %></div>
    <% end %>
  </div>
</div>