<div class="d-flex justify-content-center flex-wrap">
  <div class="d-flex justify-content-center" id="results">
    <% letters.each_char do |letter| %>
      <div class="letter-card text-shadow"><%= letter %></div>
    <% end %>
  </div>
</div>